@*@{
        ViewBag.Title = "OurIndexTwo";
        //Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
    }*@
@{ 
    Layout = null;

}
<html>
<head>
    <title>
        في الخدمة
    </title>
    <link rel="shortcut icon" type="image/png" href="~/Content/content3/img/favicon.ico">
    
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/content3/css/all.min.css">
    <link rel="stylesheet" href="~/Content/content3/css/style.css">
    <link rel="stylesheet" href="~/Content/content3/css/aos.css">

    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Changa&family=Rakkas&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap" rel="stylesheet">


    <style>
        h2, h3 {
            text-align: right;
        }

        .button {
            background: orange;
            border: 1px solid #BBBBBB;
            border-radius: 3px 3px 3px 3px;
            padding: 20px;
            font-size: large;
        }
    </style>
</head>

<body>
    <!-- start header -->
    <header>
        <div class="overlay">
            <div class="container">
                @*<div id="content1"><img class="ribbon" src="~/images/5.png" alt="logo"></div>*@
                @*<ul class="navbar">

                         <li><a href="#" class="active">home</a></li>
                        <li><a href="#about">حول الموقع</a></li>
                        <li><a href="#portfolio">portfolio</a></li>
                        <li><a href="#services">خدماتنا</a></li>
                     <li><a href="#">prices</a></li>
                     <li><a href="#">هيا بنا</a></li>
                     <li class="dropdown">
                            <a href="#">blog</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">blog post</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">contact</a></li>


                    </ul>*@
                @*</ul>*@
                <div class="clear"></div>

            </div>
            <div class="home">
                <h1 class="title" style="font-family: 'Changa', sans-serif;font-size:80px; ">في الخدمة</h1>
                @* <h2 class="home-content" style="font-family: 'Changa', sans-serif;">هدفنا وهو مساعدة الآخرين في الوصول إلى كل مايريدونه من خدمات مقدّمة من أشخاص قادرين على مساعدة غيرهم </h2>*@
                <h1 class="home-content" style="display:inline; font-family:'Tajawal', sans-serif;font-size:40px;">
                    @*نساعدة بعضنا لأن الإنسان يحب الحياة ومن حوله سعداء*@
                    وحدنا يمكننا أن نفعل القليل ،
                    <h1 class="home-content" style="display:inline; color:orange; font-family:'Tajawal', sans-serif;font-size:40px;">
                        معًا
                    </h1>

                    <h1 class="home-content" style="display:inline; font-family:'Tajawal', sans-serif;font-size:40px;">
                        نصنع الكثير
                    </h1>

                </h1>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                <a class="btn btn1" href="~/Home/index" style="background-color:orange; padding: 13px ;
                 font-size:25px;color:white "><b>انضم إلينا</b></a>



                <!-- <button class="btn btn2">learn more</button> -->
            </div>
        </div>
    </header>

    <!-- end header -->
    <!-- start about -->

    <section class="choose">
        <div class="container">
            <article class="choose-l "
                     data-aos="fade-left"
                     data-aos-offset="300"
                     data-aos-delay="100"
                     data-aos-duration="1000">
                <h1 class="hd" style="direction:rtl; font-size:50px;padding-left:600px;">من نحن؟</h1>

                <p style="font-size:40px;text-align:right;text-align:right;">نحن فريق مطورين الويب أسسنا هذا الموقع بغرض </p>
                <ul style="direction:rtl;">
                    <li style="font-size:20px;"><i class="far fa-check-circle" style="color:orange"></i> &nbsp;&nbsp;     مساعدة المتطوعين في عرض خدماتهم التطوعية بدون مقابل مادي</listyle="font-size:40px;>
                    <li style="font-size:20px;"><i class="far fa-check-circle" style="color:orange"></i> &nbsp;&nbsp;    مساعدة اصحاب المشاريع على عرض خدماتهم و أعمالهم بمقابل مادي</li>
                    <li style="font-size:20px;"><i class="far fa-check-circle" style="color:orange"></i> &nbsp;&nbsp;   مساعدة الأفراد على الوصول إلى ما يبحثون عنه من خدمات بشكل سهل وسريع</li>

                </ul>
            </article>
            <article class="choose-r"
                     data-aos="fade-right"
                     data-aos-offset="300"
                     data-aos-delay="100"
                     data-aos-duration="1000" style="padding-left:200px;">
                <img src="~/images/5black.png" alt="photo">
            </article>
        </div>

    </section>

    <section class="about" id="about">
        <article data-aos="fade-down"
                 data-aos-offset="300"
                 data-aos-delay="50"
                 data-aos-duration="1000">
            <h2 class="hd"> كيف يعمل  في الخدمة </h2>
            <span class="line"></span>
        </article>

        <article class="about-disc container">
            <div data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-delay="300"
                 data-aos-duration="1000">
                <i class="fas fa-receipt"
                   style="height:112px;color:orange;"></i>
                <h3 style="color:orange;">اطلب الخدمة</h3>
                <p style="font-size:20px;">.راجع وصف الخدمة  ثم اطلبها لفتح تواصل مع مقدم الخدمة</p>
                <!-- <a href="#">Read more</a> -->

            </div>
            <div data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-delay="300"
                 data-aos-duration="1000">
                <i class="fas fa-search"
                   style="height:112px;color:orange;"></i>
                <h3 style="color:orange;">البحث عن الخدمات</h3>
                <p style="font-size:20px;">.ابحث عن الخدمة التي تحتاجها باستخدام مربع البحث في الأعلى</p>
                <!-- <a href="#">Read more</a> -->

            </div>

            <div data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-delay="300"
                 data-aos-duration="1000">
                <i class="fas fa-address-card"
                   style="height:112px;color:orange;"></i>
                <h3 style="color:orange;">إنشاء حساب جديد</h3>
                <p style="font-size:20px;">.حتى تتمكن من إستخدام الموقع عليك إنشاء حساب أولا</p>
                <!-- <a href="#">Read more</a> -->

            </div>

            <div data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-delay="300"
                 data-aos-duration="1000">
                <i class="fas fa-money-check"
                   style="height:112px;color:orange;"></i>
                <h3 style="color:orange;">موقع مجاني</h3>
                <p style="font-size:20px;">.يتيح لك عمل حساب مجانى ونشر خدماتك بدون اى مقابل مادي </p>
                <!-- <a href="#">Read more</a> -->

            </div>





            <div class="clear"></div>
        </article>
    </section>

    <!-- end about -->
    <!-- start portfolio -->

    <section class="portfolio" id="portfolio">
        <article>
            <h2 class="hd">لماذا في الخدمة؟</h2>
            <span class="line"></span>
        </article>

        <article class="works container">

            <div class="item item1"
                 data-aos="flip-left"
                 data-aos-offset="300"
                 data-aos-delay="70"
                 data-aos-duration="1500">
                <div class="overlay-item">
                    <div class="overlay-info">
                        <h4 style="font-size:40px;color:orange;">خدمات إلكترونية</h4>
                        <p style="font-size:20px;">يمكنك التقدم والبحث عن العديد من الخدمات الإلكترونية </p>

                    </div>
                </div>
            </div>

            <div class="item item2"
                 data-aos="flip-right"
                 data-aos-offset="300"
                 data-aos-delay="70"
                 data-aos-duration="1500">
                <div class="overlay-item">
                    <div class="overlay-info">
                        <h4 style="font-size:40px;color:orange;">خدمات تصميم</h4>
                        <p style="font-size:20px;">يمكنك التقدم والبحث عن العديد من خدمات التصميم</p>

                    </div>
                </div>
            </div>

            <div class="item item3"
                 data-aos="flip-right"
                 data-aos-offset="300"
                 data-aos-delay="70"
                 data-aos-duration="1500">
                <div class="overlay-item">
                    <div class="overlay-info">
                        <h4 style="font-size:40px;color:orange;">حرف وأعمال يدوية</h4>
                        <p style="font-size:20px;"> يمكنك عرض مشغولاتك اليدوية وكسب المال منها</p>

                    </div>
                </div>
            </div>

            <div class="item item4"
                 data-aos="flip-down"
                 data-aos-offset="300"
                 data-aos-delay="70"
                 data-aos-duration="1500">
                <div class="overlay-item">
                    <div class="overlay-info">
                        <h4 style="font-size:40px;color:orange;">تعليم إلكتروني</h4>
                        <p style="font-size:20px;">يمكنك الإعلان عن دورة تدريبية أو البحث عن دورات تدريبية أخرى </p>

                    </div>
                </div>
            </div>

            <div class="item item5"
                 data-aos="flip-left"
                 data-aos-offset="300"
                 data-aos-delay="70"
                 data-aos-duration="1500">
                <div class="overlay-item">
                    <div class="overlay-info">
                        <h4 style="font-size:40px;color:orange;">الإستشارات</h4>
                        <p style="font-size:20px;">يمكنك تقديم الإستشارات الطبية أو الإجتماعية ، أو البحث عنها</p>

                    </div>
                </div>
            </div>

            <div class="item item6"
                 data-aos="flip-right"
                 data-aos-offset="300"
                 data-aos-delay="70"
                 data-aos-duration="1500">
                <div class="overlay-item">
                    <div class="overlay-info">
                        <h4 style="font-size:40px;color:orange;">مواهب</h4>
                        <p style="font-size:20px;">يمكنك مشاركة موهبتك مع الآخرين  </p>

                    </div>
                </div>
            </div>

        </article>
    </section>

    <!-- end portfolio -->
    <!-- start services -->
    @*<section class="services" id="services">
        <article data-aos="zoom-in"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
            <h2 class="hd">الخدمات التى نقدمها</h2>
            <span class="line"></span>
        </article>

        <article class="container serv">
            <div class="serv-desc " data-aos="zoom-in-up"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
                <div class="overlay-item">
                    <i class="fas fa-gem"></i>
                    <h3>تقديم الخدمات المجانية</h3>
                    <p>تمكين اصحاب الخير فى نشر اعمالهم الخيرية التى يقدموها للناس </p>
                </div>
            </div>
            <div class="serv-desc " data-aos="zoom-in-right"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
                <div class="overlay-item">
                    <i class="fas fa-cogs"></i>
                    <h3> تقديم الخدمات الحرفية</h3>
                    <p>تمكين اصحاب الحرفة من نشر خدماتهم و اعمالهم </p>


                </div>
            </div>
            <div class="serv-desc " data-aos="zoom-in-down"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
                <div class="overlay-item">
                    <i class="fas fa-rocket"></i>
                    <h3>الوصول للخدمة</h3>
                    <p>تمكين الباحث عن الخدمة من الوصول الى هدفه بكل سهولة</p>
                </div>
            </div>*@

    <!-- <div class="serv-desc " data-aos="zoom-in-left"
    data-aos-offset="300"
    data-aos-delay="100"
    data-aos-duration="1000">
        <div class="overlay-item">
            <i class="fas fa-gem"></i>
            <h3>Marketing</h3>
            <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
        </div>
    </div>
    <div class="serv-desc " data-aos="zoom-in-up"
    data-aos-offset="300"
    data-aos-delay="100"
    data-aos-duration="1000">
        <div class="overlay-item">
            <i class="fas fa-pen"></i>
            <h3>Awesome Support</h3>
            <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
        </div>
    </div>
    <div class="serv-desc " data-aos="zoom-in-down"
    data-aos-offset="300"
    data-aos-delay="100"
    data-aos-duration="1000">
        <div class="overlay-item">
            <i class="fas fa-flask"></i>
        <h3>Brand Design</h3>
            <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
        </div>
    </div> -->
    </article>

    </section>

    <!-- end services -->
    <!-- start why choose us -->
    <!-- end why choose us -->
    <!-- start trophy -->
    <article data-aos="zoom-in"
             data-aos-offset="300"
             data-aos-delay="100"
             data-aos-duration="1000">
        <h2 class="hd">احصائيات</h2>
        <span class="line"></span>
    </article>
    <section class="trophy">
        <div class="overlay">
            <div class="troph"
                 data-aos="fade-up"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1200">
                <i class="fas fa-users" style="color:orange;"></i>
                <span>1000</span>
                <span>مستخدم للموقع يوميا</span>
            </div>

            <div class="troph"
                 data-aos="fade-down"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1200">
                <i class="fas fa-trophy" style="color:orange;"></i>
                <span>12</span>
                <span>جائزة كأحسن موقع خدمى</span>
            </div>

            <div class="troph"
                 data-aos="fade-down"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1200">
                <i class="fas fa-file" style="color:orange;"></i>
                <span>100</span>
                <span>خدمة مقدمة يوميا</span>
            </div>
            <div class="troph"
                 data-aos="fade-down"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1200">
                <i class="fas fa-search" style="color:orange;"></i>
                <span>400</span>
                <span>بحث عن خدمات يوميا</span>
            </div>
            <div class="troph"
                 data-aos="fade-down"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1200">
                <i class="fas fa-star" style="color:orange;"></i>
                <span>200</span>
                <span>فرصة عمل  </span>
            </div>
        </div>
    </section>

    <!-- end trophy -->
    <!-- start prices -->
    <!-- <section class="prices">
        <article data-aos="fade-up"
        data-aos-offset="300"
        data-aos-delay="100"
        data-aos-duration="1000">
            <h2 class="hd">Pricing Table</h2>
            <span class="line"></span>
        </article>
        <article class="price container">
            <div class="price-item "
            data-aos="flip-up"
            data-aos-offset="300"
            data-aos-delay="100"
            data-aos-duration="1000">
                <div class="overlay-item-utd">
                    <span class="plan-hd">BASIC PLAN</span>
                    <span class="plan-price"> <span>$9</span>  <br>
                        <span>/ MONTH</span> </span>
                    <span class="plan-dt">1GB Disk Space</span>
                    <span class="plan-dt">100 Email Account</span>
                    <span class="plan-dt">24/24 Support</span>
                    <button>Purchase now</button>
                </div>
            </div>

            <div class="price-item "
            data-aos="flip-down"
            data-aos-offset="300"
            data-aos-delay="500"
            data-aos-duration="1000">
                <div class="overlay-item-utd">
                    <span class="plan-hd">BASIC PLAN</span>
                    <span class="plan-price"> <span>$19</span>  <br>
                        <span>/ MONTH</span> </span>
                    <span class="plan-dt">1GB Disk Space</span>
                    <span class="plan-dt">100 Email Account</span>
                    <span class="plan-dt">24/24 Support</span>
                    <button>Purchase now</button>
                </div>
            </div>

            <div class="price-item "
            data-aos="flip-up"
            data-aos-offset="300"
            data-aos-delay="100"
            data-aos-duration="1000">
                <div class="overlay-item-utd">
                    <span class="plan-hd">BASIC PLAN</span>
                    <span class="plan-price"> <span>$39</span>  <br>
                        <span>/ MONTH</span> </span>
                    <span class="plan-dt">1GB Disk Space</span>
                    <span class="plan-dt">100 Email Account</span>
                    <span class="plan-dt">24/24 Support</span>
                    <button>Purchase now</button>
                </div>
            </div>
        </article>
    </section> -->
    <!-- end prices -->
    <!-- start opinion -->

    <section class="opinion">
        <div class="overlay">
            <div class="container">

                <article class="opin"
                         data-aos="fade-up"
                         data-aos-offset="300"
                         data-aos-delay="100"
                         data-aos-duration="1200">
                    <div class="opin-img"><img src="~/Content/content3/img/author.jpg" alt="photo"></div>
                    <span class="opin-nm">مصطفى محمد</span>
                    <span class="opin-desc" style="color:orange; ">مقدم خدمة</span>
                    <p>موقع متميز ساعدنى بشكل كبير فى نشر خدماتى للجمهور و توفير مصدر دخل </p>
                </article>

                <article class="opin"
                         data-aos="fade-down"
                         data-aos-offset="300"
                         data-aos-delay="100"
                         data-aos-duration="1200">
                    <div class="opin-img"><img src="~/Content/content3/img/perso1.jpg" alt="photo"></div>
                    <span class="opin-nm">محمد رافت</span>
                    <span class="opin-desc" style="color:orange;">باحث عن الخدمة</span>
                    <p>ساعدنى فى الخدمة فى الوصول الى الخدمات التى ابحث عنها بكل سهولة لذلك انصح باستخدامه </p>
                </article>
            </div>
        </div>

    </section>

    <!-- end opinion -->
    <!-- start team -->

    <section class="our-team">
        <article data-aos="fade-down"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1300">
            <h2 class="hd">فريق العمل</h2>
            <span class="line"></span>
        </article>
        <article class="team container">
            <div class="team-item "
                 data-aos="zoom-in"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
                <div class="overlay-item-utd">

                    <div class="overlay-info">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-google-plus-square"><a href="https://www.instagram.com/fkhedma/"></a></i>
                        <i class="fab fa-twitter-square"><a href="#"></a></i>
                    </div>
                    <img src="~/Content/content3/img/team1.jpg" alt="">
                    <span class="team-nm">Esraa Saber</span>
                    <span class="team-jb">Web Developer/Designer</span>


                </div>

            </div>

            <div class="team-item "
                 data-aos="zoom-out"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1300">
                <div class="overlay-item-utd">

                    <div class="overlay-info">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-google-plus-square"><a href="#"></a></i>
                        <i class="fab fa-twitter-square"><a href="#"></a></i>
                    </div>
                    <img src="~/Content/content3/img/sara.jpg" alt="">
                    <span class="team-nm">Sara Ali</span>
                    <span class="team-jb">Web/Mobile Developer</span>

                </div>

            </div>

            <div class="team-item "
                 data-aos="zoom-out"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1300">
                <div class="overlay-item-utd">

                    <div class="overlay-info">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-google-plus-square"><a href="#"></a></i>
                        <i class="fab fa-twitter-square"><a href="#"></a></i>
                    </div>
                    <img src="~/Content/content3/img/raafat.jpg" alt="">
                    <span class="team-nm">Mohamed Raafat</span>
                    <span class="team-jb">Web Developer/صانع البهجة</span>

                </div>

            </div>
            <div class="team-item "
                 data-aos="zoom-out"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1300">
                <div class="overlay-item-utd">

                    <div class="overlay-info">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-google-plus-square"><a href="#"></a></i>
                        <i class="fab fa-twitter-square"><a href="#"></a></i>
                    </div>
                    <img src="~/Content/content3/img/donia.jpg" alt="">
                    <span class="team-nm">Donia Gamal</span>
                    <span class="team-jb">Web Developer/Designer</span>

                </div>

            </div>
            <div class="team-item "
                 data-aos="zoom-out"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1300">
                <div class="overlay-item-utd">

                    <div class="overlay-info">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-google-plus-square"><a href="#"></a></i>
                        <i class="fab fa-twitter-square"><a href="#"></a></i>
                    </div>
                    <img src="~/Content/content3/img/team2.jpg" alt="">
                    <span class="team-nm">Mohamed Essam</span>
                    <span class="team-jb">Web designer</span>

                </div>

            </div>
        </article>
    </section>

    <!-- end team -->
    <!-- start blog -->
    @*<section class="blog">
            <article data-aos="fade-down"
                     data-aos-offset="300"
                     data-aos-delay="100"
                     data-aos-duration="1000">
                <h2 class="hd">Recents News</h2>
                <span class="line"></span>
            </article>
            <div class="container">
                <article class="blog-item"
                         data-aos="fade-up"
                         data-aos-offset="300"
                         data-aos-delay="100"
                         data-aos-duration="1200">
                    <img src="~/Content/content3/img/blog1.jpg" alt="photo">
                    <ul>
                        <li><i class="fas fa-user"></i><span>John doe</span> </li>
                        <li><i class="far fa-clock"></i> <span>18 Oct</span> </li>
                        <li><i class="fas fa-comments"></i><span>57</span> </li>
                    </ul>
                    <p class="blog-hd">Molestie at elementum eu facilisis sed odio</p>
                    <p class="blog-cont">Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
                    <a href="#">read more</a>
                </article>

                <article class="blog-item"
                         data-aos="fade-up"
                         data-aos-offset="300"
                         data-aos-delay="300"
                         data-aos-duration="1200">
                    <img src="~/Content/content3/img/blog2.jpg" alt="photo">
                    <ul>
                        <li><i class="fas fa-user"></i><span>John doe</span> </li>
                        <li><i class="far fa-clock"></i> <span>18 Oct</span> </li>
                        <li><i class="fas fa-comments"></i><span>57</span> </li>
                    </ul>
                    <p class="blog-hd">Molestie at elementum eu facilisis sed odio</p>
                    <p class="blog-cont">Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
                    <a href="#">read more</a>
                </article>

                <article class="blog-item"
                         data-aos="fade-up"
                         data-aos-offset="300"
                         data-aos-delay="500"
                         data-aos-duration="1200">
                    <img src="~/Content/content3/img/blog3.jpg" alt="photo">
                    <ul>
                        <li><i class="fas fa-user"></i><span>John doe</span> </li>
                        <li><i class="far fa-clock"></i> <span>18 Oct</span> </li>
                        <li><i class="fas fa-comments"></i><span>57</span> </li>
                    </ul>
                    <p class="blog-hd">Molestie at elementum eu facilisis sed odio</p>
                    <p class="blog-cont">Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
                    <a href="#">read more</a>
                </article>
            </div>
        </section>*@

    <!-- end blog -->
    <!-- star contact -->

    <section class="contact">

        <article data-aos="fade-down"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
            <h2 class="hd">تواصل  معنا</h2>
            <span class="line"></span>
        </article>

        <article class="contact-form container">
            <div class="contact-item"
                 data-aos="zoom-out-up"
                 data-aos-offset="200"
                 data-aos-delay="100"
                 data-aos-duration="1200">
                <i class="fas fa-phone-alt" style="color:orange;"></i>
                <span>Phone</span>
                <span>01016998112</span>
            </div>
            <div class="contact-item"
                 data-aos="zoom-out"
                 data-aos-offset="200"
                 data-aos-delay="200"
                 data-aos-duration="1200">
                <i class="fas fa-envelope" style="color:orange;"></i>
                <span >Email</span>
                <span>felkhema@gmail.com</span>
            </div>
            <div class="contact-item"
                 data-aos="zoom-out-down"
                 data-aos-offset="200"
                 data-aos-delay="300"
                 data-aos-duration="1200">
                <i class="fas fa-map-marker-alt" style="color:orange;"></i>
                <span>Address</span>
                <span>20 الاسماعلية</span>
            </div>

            <!-- <form action=""
            data-aos="fade-up"
            data-aos-offset="500"
            data-aos-delay="200"
            data-aos-duration="1000">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email"><br>
                <input type="text" placeholder="subject"><br>
                <textarea name="" id="" placeholder="message"></textarea><br>
                <button>send message</button>
            </form> -->
        </article>
    </section>
    <br />
    <br />
    <br />
    <br />
    <!-- end contact -->
    <!-- start footer -->

    <footer>
        <!-- <div class="footer-logo"><img src="img/logo-alt.png" alt="logo"></div> -->
        <div class="social">
            <a href="https://www.facebook.com/%D9%81%D9%89-%D8%A7%D9%84%D8%AE%D8%AF%D9%85%D8%A9-110125627413811/?modal=admin_todo_tour">
                <i class="fab fa-facebook-square" data-aos="fade-right" style="color:orange;"
                   data-aos-offset="200"
                   data-aos-delay="100"
                   data-aos-duration="1200"></i>
            </a>
        
            <a href="https://twitter.com/Felkhedma1">
                <i class="fab fa-twitter-square" data-aos="fade-right" style="color:orange;"
                   data-aos-offset="200"
                   data-aos-delay="200"
                   data-aos-duration="1200"></i>
            </a>

       

            <a href="https://www.instagram.com/fkhedma/">

                <i class="fab fa-instagram" data-aos="fade-right" style="color:orange;"
                   data-aos-offset="200"
                   data-aos-delay="400"
                   data-aos-duration="1200">

                </i>

            </a>
            <!-- <i class="fab fa-youtube-square"data-aos="fade-right"

    data-aos-offset="200"
    data-aos-delay="500"
    data-aos-duration="1200"></i> -->
        </div>

        <div class="cr">
            <p>
                &copy;2020.جميع الحقوق محفوظة<span data-aos="zoom-out-left"
                                                   data-aos-offset="100"
                                                   data-aos-delay="500"
                                                   data-aos-duration="2000" style="display: inline-block;color:orange"> &nbsp; في الخدمة &nbsp; &nbsp;</span>
            </p>
        </div>
    </footer>

    <!-- end footer -->

    <script src="~/Content/content3/js/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <a href="#" class="arrow"><i class="fas fa-arrow-circle-up" style="color:orange;"></i></a>
</body>
</html>