
@{
    ViewBag.Title = "OurInedx";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}


<section id="banner">
    <div class="inner">
        <p id="cap1" style="font-size: 60px; color: rgb(236, 163, 4); padding-top:20px; margin-top: 100px;">
            Because the Best People
        </p>
        <p id="cap2" style="font-size: 45px; color: white; padding-bottom:5px; margin-bottom: 80px;">
            Never Stop helping
        </p>

    </div>
    <video autoplay loop muted playsinline src="~/images/banner1.mp4"></video>
</section>



<!-- Highlights (test) -->
<!-- CTA test -->
@*<section id="cta" class="wrapper">
        <div class="inner">
            <h2></h2>
            <p></p>
        </div>
    </section>*@

<div class="testimonials">
    @*دول الكارد اللي فيهم أٌقوال بعض الناس*@
    <section>
        <div class="content">
            <blockquote>
                <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
            </blockquote>
            <div class="author">
                <div class="image">
                    <img src="images/pic01.jpg" alt="" />
                </div>
                <p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
            </div>
        </div>
    </section>
    <section>
        <div class="content">
            <blockquote>
                <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
            </blockquote>
            <div class="author">
                <div class="image">
                    <img src="images/pic03.jpg" alt="" />
                </div>
                <p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
            </div>
        </div>
    </section>
    <section>
        <div class="content">
            <blockquote>
                <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
            </blockquote>
            <div class="author">
                <div class="image">
                    <img src="images/pic02.jpg" alt="" />
                </div>
                <p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
            </div>
        </div>
    </section>
