
@*@{
    ViewBag.Title = "OurIndexTwo";
    //Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}*@
s
<html>
<head>
    <title>
       في الخدمة
    </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/content3/css/all.min.css">
    <link rel="stylesheet" href="~/Content/content3/css/style.css">
    <link rel="stylesheet" href="~/Content/content3/css/aos.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Manrope&display=swap" rel="stylesheet">
</head>

<body>
    <!-- start header -->
    <header>
        <div class="overlay">
            <div class="container">
                @*<div class="logo"><img src="~/Content/content3/img/logo-alt.png" alt="logo"></div>*@
                <ul class="navbar">

                    <!-- <li><a href="#" class="active">home</a></li> -->
                    <li><a href="#about">حول الموقع</a></li>
                    <li><a href="#portfolio">portfolio</a></li>
                    <li><a href="#services">خدماتنا</a></li>
                    <!-- <li><a href="#">prices</a></li> -->
                    <!-- <li><a href="#">هيا بنا</a></li> -->
                    <!-- <li class="dropdown">
                            <a href="#">blog</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">blog post</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">contact</a></li>


                    </ul> -->
                </ul>
                <div class="clear"></div>

            </div>
            <div class="home">
                <h1 class="title">فى الخدمة</h1>
                <h3 class="home-content">هدفنا وهو مساعدة الآخرين في الوصول إلى كل مايريدونه من خدمات مقدّمة من أشخاص قادرين على مساعدة غيرهم </h3>

                <button href="~/Home/index" class="btn btn1">ابدا لان</button>

                <!-- <button class="btn btn2">learn more</button> --> -->
            </div>
        </div>
    </header>

    <!-- end header -->
    <!-- start about -->

    <section class="about" id="about">
        <article data-aos="fade-down"
                 data-aos-offset="300"
                 data-aos-delay="50"
                 data-aos-duration="1000">
            <h2 class="hd"> فى الخدمة</h2>
            <span class="line"></span>
        </article>
        <article class="about-disc container">
            <div data-aos="fade-left"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
                <i class="fas fa-cogs"></i>
                <h3>تقديم الخدمات</h3>
                <p>يتيح لك تقديم الخدمة سواء كانت مجانية او مدفوعة </p>
                <!-- <a href="#">Read more</a> -->
            </div>
            <div data-aos="fade-up"
                 data-aos-offset="300"
                 data-aos-delay="200"
                 data-aos-duration="1000">
                <i class="fas fa-magic"></i>
                <h3>البحث عن الخدمة</h3>
                <p>يتيح لك الوصول الى الخدمات التى تحتاجها بكل سهولة</p>
                <!-- <a href="#">Read more</a> -->
            </div>
            <div data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-delay="300"
                 data-aos-duration="1000">
                <i class="fas fa-mobile-alt"
                   style="height:112px;"></i>
                <h3>موقع مجانى</h3>
                <p>يتيح لك عمل حساب مجانى بدون اى مقابل</p>
                <!-- <a href="#">Read more</a> -->

            </div>
            <div class="clear"></div>
        </article>
    </section>

    <!-- end about -->
    <!-- start portfolio -->

    <section class="portfolio" id="portfolio">
        <article>
            <h2 class="hd">Featured Works</h2>
            <span class="line"></span>
        </article>

        <article class="works container">

            <div class="item item1"
                 data-aos="flip-left"
                 data-aos-offset="300"
                 data-aos-delay="70"
                 data-aos-duration="1500">
                <div class="overlay-item">
                    <div class="overlay-info">
                        <h4>category</h4>
                        <p>Lorem ipsum dolor</p>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-external-link-alt"></i>
                    </div>
                </div>
            </div>

            <div class="item item2"
                 data-aos="flip-right"
                 data-aos-offset="300"
                 data-aos-delay="70"
                 data-aos-duration="1500">
                <div class="overlay-item">
                    <div class="overlay-info">
                        <h4>category</h4>
                        <p>Lorem ipsum dolor</p>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-external-link-alt"></i>
                    </div>
                </div>
            </div>

            <div class="item item3"
                 data-aos="flip-up"
                 data-aos-offset="300"
                 data-aos-delay="70"
                 data-aos-duration="1500">
                <div class="overlay-item">
                    <div class="overlay-info">
                        <h4>category</h4>
                        <p>Lorem ipsum dolor</p>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-external-link-alt"></i>
                    </div>
                </div>
            </div>

            <div class="item item4"
                 data-aos="flip-down"
                 data-aos-offset="300"
                 data-aos-delay="70"
                 data-aos-duration="1500">
                <div class="overlay-item">
                    <div class="overlay-info">
                        <h4>category</h4>
                        <p>Lorem ipsum dolor</p>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-external-link-alt"></i>
                    </div>
                </div>
            </div>

            <div class="item item5"
                 data-aos="flip-left"
                 data-aos-offset="300"
                 data-aos-delay="70"
                 data-aos-duration="1500">
                <div class="overlay-item">
                    <div class="overlay-info">
                        <h4>category</h4>
                        <p>Lorem ipsum dolor</p>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-external-link-alt"></i>
                    </div>
                </div>
            </div>

            <div class="item item6"
                 data-aos="flip-right"
                 data-aos-offset="300"
                 data-aos-delay="70"
                 data-aos-duration="1500">
                <div class="overlay-item">
                    <div class="overlay-info">
                        <h4>category</h4>
                        <p>Lorem ipsum dolor</p>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-external-link-alt"></i>
                    </div>
                </div>
            </div>

        </article>
    </section>

    <!-- end portfolio -->
    <!-- start services -->

    <section class="services" id="services">
        <article data-aos="zoom-in"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
            <h2 class="hd">الخدمات التى نقدمها</h2>
            <span class="line"></span>
        </article>

        <article class="container serv">
            <div class="serv-desc " data-aos="zoom-in-up"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
                <div class="overlay-item">
                    <i class="fas fa-gem"></i>
                    <h3>تقديم الخدمات المجانية</h3>
                    <p>تمكين اصحاب الخير فى نشر اعمالهم الخيرية التى يقدموها للناس </p>
                </div>
            </div>
            <div class="serv-desc " data-aos="zoom-in-right"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
                <div class="overlay-item">
                    <i class="fas fa-cogs"></i>
                    <h3> تقديم الخدمات الحرفية</h3>
                    <p>تمكين اصحاب الحرفة من نشر خدماتهم و اعمالهم </p>


                </div>
            </div>
            <div class="serv-desc " data-aos="zoom-in-down"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
                <div class="overlay-item">
                    <i class="fas fa-rocket"></i>
                    <h3>الوصول للخدمة</h3>
                    <p>تمكين الباحث عن الخدمة من الوصول الى هدفه بكل سهولة</p>
                </div>
            </div>

            <!-- <div class="serv-desc " data-aos="zoom-in-left"
            data-aos-offset="300"
            data-aos-delay="100"
            data-aos-duration="1000">
                <div class="overlay-item">
                    <i class="fas fa-gem"></i>
                    <h3>Marketing</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <div class="serv-desc " data-aos="zoom-in-up"
            data-aos-offset="300"
            data-aos-delay="100"
            data-aos-duration="1000">
                <div class="overlay-item">
                    <i class="fas fa-pen"></i>
                    <h3>Awesome Support</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div>
            <div class="serv-desc " data-aos="zoom-in-down"
            data-aos-offset="300"
            data-aos-delay="100"
            data-aos-duration="1000">
                <div class="overlay-item">
                    <i class="fas fa-flask"></i>
                <h3>Brand Design</h3>
                    <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
                </div>
            </div> -->

        </article>

    </section>

    <!-- end services -->
    <!-- start why choose us -->
    <!-- <section class="choose">
            <div class="container">
                <article class="choose-l "
                data-aos="fade-right"
                data-aos-offset="300"
                data-aos-delay="100"
                data-aos-duration="1000">
                    <h2 class="hd">why choose us</h2>
                    <span class="line"></span>
                    <p>Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris. Ultrices sagittis orci a scelerisque purus.</p>
                    <ul>
                        <li><i class="far fa-check-circle"></i>Quis varius quam quisque id diam vel quam elementum.</li>
                        <li><i class="far fa-check-circle"></i>Mauris augue neque gravida in fermentum.</li>
                        <li><i class="far fa-check-circle"></i>Orci phasellus egestas tellus rutrum.</li>
                        <li><i class="far fa-check-circle"></i>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</li>
                    </ul>
                </article>
                    <article class="choose-r"
                    data-aos="fade-left"
                    data-aos-offset="300"
                    data-aos-delay="100"
                    data-aos-duration="1000"><img src="img/about1.jpg" alt="photo"></article>
            </div>

    </section> -->
    <!-- end why choose us -->
    <!-- start trophy -->

    <section class="trophy">
        <div class="overlay">
            <div class="troph"
                 data-aos="fade-up"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1200">
                <i class="fas fa-users"></i>
                <span>10000</span>
                <span>مستخدم للموقع يوميا</span>
            </div>

            <div class="troph"
                 data-aos="fade-down"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1200">
                <i class="fas fa-trophy"></i>
                <span>12</span>
                <span>جائوى كاحسن موقع خدمى</span>
            </div>

            <!-- <div class="troph"
            data-aos="fade-up"
            data-aos-offset="300"
            data-aos-delay="100"
            data-aos-duration="1200">
                <i class="fas fa-coffee"></i>
                <span>145k</span>
                <span>cups of coffe</span>
            </div> -->

            <div class="troph"
                 data-aos="fade-down"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1200">
                <i class="fas fa-file"></i>
                <span>45</span>
                <span>خدمة مقدمة يوميا</span>
            </div>
        </div>
    </section>

    <!-- end trophy -->
    <!-- start prices -->
    <!-- <section class="prices">
        <article data-aos="fade-up"
        data-aos-offset="300"
        data-aos-delay="100"
        data-aos-duration="1000">
            <h2 class="hd">Pricing Table</h2>
            <span class="line"></span>
        </article>
        <article class="price container">
            <div class="price-item "
            data-aos="flip-up"
            data-aos-offset="300"
            data-aos-delay="100"
            data-aos-duration="1000">
                <div class="overlay-item-utd">
                    <span class="plan-hd">BASIC PLAN</span>
                    <span class="plan-price"> <span>$9</span>  <br>
                        <span>/ MONTH</span> </span>
                    <span class="plan-dt">1GB Disk Space</span>
                    <span class="plan-dt">100 Email Account</span>
                    <span class="plan-dt">24/24 Support</span>
                    <button>Purchase now</button>
                </div>
            </div>

            <div class="price-item "
            data-aos="flip-down"
            data-aos-offset="300"
            data-aos-delay="500"
            data-aos-duration="1000">
                <div class="overlay-item-utd">
                    <span class="plan-hd">BASIC PLAN</span>
                    <span class="plan-price"> <span>$19</span>  <br>
                        <span>/ MONTH</span> </span>
                    <span class="plan-dt">1GB Disk Space</span>
                    <span class="plan-dt">100 Email Account</span>
                    <span class="plan-dt">24/24 Support</span>
                    <button>Purchase now</button>
                </div>
            </div>

            <div class="price-item "
            data-aos="flip-up"
            data-aos-offset="300"
            data-aos-delay="100"
            data-aos-duration="1000">
                <div class="overlay-item-utd">
                    <span class="plan-hd">BASIC PLAN</span>
                    <span class="plan-price"> <span>$39</span>  <br>
                        <span>/ MONTH</span> </span>
                    <span class="plan-dt">1GB Disk Space</span>
                    <span class="plan-dt">100 Email Account</span>
                    <span class="plan-dt">24/24 Support</span>
                    <button>Purchase now</button>
                </div>
            </div>
        </article>
    </section> -->
    <!-- end prices -->
    <!-- start opinion -->

    <section class="opinion">
        <div class="overlay">
            <div class="container">

                <article class="opin"
                         data-aos="fade-up"
                         data-aos-offset="300"
                         data-aos-delay="100"
                         data-aos-duration="1200">
                    <div class="opin-img"><img src="~/Content/content3/img/author.jpg" alt="photo"></div>
                    <span class="opin-nm">مصطفى محمد</span>
                    <span class="opin-desc">مقدم خدمة</span>
                    <p>موقع متميز ساعدنى بشكل كبير فى نشر خدماتى للجمهور و توفير مصدر دخل </p>
                </article>

                <article class="opin"
                         data-aos="fade-down"
                         data-aos-offset="300"
                         data-aos-delay="100"
                         data-aos-duration="1200">
                    <div class="opin-img"><img src="~/Content/content3/img/perso1.jpg" alt="photo"></div>
                    <span class="opin-nm">محمد رافت</span>
                    <span class="opin-desc">باحث عن الخدمة</span>
                    <p>ساعدنى فى الخدمة فى الوصول الى الخدمات التى ابحث عنها بكل سهولة لذلك انصح باستخدامه </p>
                </article>
            </div>
        </div>

    </section>

    <!-- end opinion -->
    <!-- start team -->

    <section class="our-team">
        <article data-aos="fade-down"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1300">
            <h2 class="hd">فريق العمل</h2>
            <span class="line"></span>
        </article>
        <article class="team container">
            <div class="team-item "
                 data-aos="zoom-in"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
                <div class="overlay-item-utd">

                    <div class="overlay-info">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-google-plus-square"><a href="#"></a></i>
                        <i class="fab fa-twitter-square"><a href="#"></a></i>
                    </div>
                    <img src="~/Content/content3/img/team1.jpg" alt="">
                    <span class="team-nm">john doe</span>
                    <span class="team-jb">web designer</span>

                </div>

            </div>

            <div class="team-item "
                 data-aos="zoom-out"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1300">
                <div class="overlay-item-utd">

                    <div class="overlay-info">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-google-plus-square"><a href="#"></a></i>
                        <i class="fab fa-twitter-square"><a href="#"></a></i>
                    </div>
                    <img src="~/Content/content3/img/team2.jpg" alt="">
                    <span class="team-nm">john doe</span>
                    <span class="team-jb">web designer</span>

                </div>

            </div>

            <div class="team-item "
                 data-aos="zoom-in"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
                <div class="overlay-item-utd">

                    <div class="overlay-info">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-google-plus-square"><a href="#"></a></i>
                        <i class="fab fa-twitter-square"><a href="#"></a></i>
                    </div>
                    <img src="~/Content/content3/img/team3.jpg" alt="">
                    <span class="team-nm">john doe</span>
                    <span class="team-jb">web designer</span>

                </div>

            </div>
        </article>
    </section>

    <!-- end team -->
    <!-- start blog -->

    <section class="blog">
        <article data-aos="fade-down"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
            <h2 class="hd">Recents News</h2>
            <span class="line"></span>
        </article>
        <div class="container">
            <article class="blog-item"
                     data-aos="fade-up"
                     data-aos-offset="300"
                     data-aos-delay="100"
                     data-aos-duration="1200">
                <img src="~/Content/content3/img/blog1.jpg" alt="photo">
                <ul>
                    <li><i class="fas fa-user"></i><span>John doe</span> </li>
                    <li><i class="far fa-clock"></i> <span>18 Oct</span> </li>
                    <li><i class="fas fa-comments"></i><span>57</span> </li>
                </ul>
                <p class="blog-hd">Molestie at elementum eu facilisis sed odio</p>
                <p class="blog-cont">Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
                <a href="#">read more</a>
            </article>

            <article class="blog-item"
                     data-aos="fade-up"
                     data-aos-offset="300"
                     data-aos-delay="300"
                     data-aos-duration="1200">
                <img src="~/Content/content3/img/blog2.jpg" alt="photo">
                <ul>
                    <li><i class="fas fa-user"></i><span>John doe</span> </li>
                    <li><i class="far fa-clock"></i> <span>18 Oct</span> </li>
                    <li><i class="fas fa-comments"></i><span>57</span> </li>
                </ul>
                <p class="blog-hd">Molestie at elementum eu facilisis sed odio</p>
                <p class="blog-cont">Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
                <a href="#">read more</a>
            </article>

            <article class="blog-item"
                     data-aos="fade-up"
                     data-aos-offset="300"
                     data-aos-delay="500"
                     data-aos-duration="1200">
                <img src="~/Content/content3/img/blog3.jpg" alt="photo">
                <ul>
                    <li><i class="fas fa-user"></i><span>John doe</span> </li>
                    <li><i class="far fa-clock"></i> <span>18 Oct</span> </li>
                    <li><i class="fas fa-comments"></i><span>57</span> </li>
                </ul>
                <p class="blog-hd">Molestie at elementum eu facilisis sed odio</p>
                <p class="blog-cont">Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
                <a href="#">read more</a>
            </article>
        </div>
    </section>

    <!-- end blog -->
    <!-- star contact -->

    <section class="contact">

        <article data-aos="fade-down"
                 data-aos-offset="300"
                 data-aos-delay="100"
                 data-aos-duration="1000">
            <h2 class="hd">Get In Touch</h2>
            <span class="line"></span>
        </article>

        <article class="contact-form container">
            <div class="contact-item"
                 data-aos="zoom-out-up"
                 data-aos-offset="200"
                 data-aos-delay="100"
                 data-aos-duration="1200">
                <i class="fas fa-phone-alt"></i>
                <span>Phone</span>
                <span>01016998112</span>
            </div>
            <div class="contact-item"
                 data-aos="zoom-out"
                 data-aos-offset="200"
                 data-aos-delay="200"
                 data-aos-duration="1200">
                <i class="fas fa-envelope"></i>
                <span>Email</span>
                <span>felkhema@gmail.com</span>
            </div>
            <div class="contact-item"
                 data-aos="zoom-out-down"
                 data-aos-offset="200"
                 data-aos-delay="300"
                 data-aos-duration="1200">
                <i class="fas fa-map-marker-alt"></i>
                <span>Address</span>
                <span>20 الاسماعلية</span>
            </div>

            <!-- <form action=""
            data-aos="fade-up"
            data-aos-offset="500"
            data-aos-delay="200"
            data-aos-duration="1000">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email"><br>
                <input type="text" placeholder="subject"><br>
                <textarea name="" id="" placeholder="message"></textarea><br>
                <button>send message</button>
            </form> -->
        </article>
    </section>

    <!-- end contact -->
    <!-- start footer -->

    <footer>
        <!-- <div class="footer-logo"><img src="img/logo-alt.png" alt="logo"></div> -->
        <div class="social">
            @*<i class="fab fa-facebook-square" data-aos="fade-right"
                   data-aos-offset="200"
                   data-aos-delay="100"
                   data-aos-duration="1200"></i>
                <i class="fab fa-twitter-square" data-aos="fade-right"
                   data-aos-offset="200"
                   data-aos-delay="200"
                   data-aos-duration="1200"></i>
                <i class="fab fa-youtube-square" data-aos="fade-right"
                   data-aos-offset="200"
                   data-aos-delay="300"
                   data-aos-duration="1200"></i>
                <i class="fab fa-instagram" data-aos="fade-right"
                   data-aos-offset="200"
                   data-aos-delay="400"
                   data-aos-duration="1200"></i>*@
            <!-- <i class="fab fa-youtube-square"data-aos="fade-right"

            data-aos-offset="200"
            data-aos-delay="500"
            data-aos-duration="1200"></i> -->
            @*لينكاتهم*@


            <i class="fab fa-facebook-square"
               data-aos="fade-right"
               data-aos-offset="200"
               data-aos-delay="100"
               data-aos-duration="1200"><a href="https://www.facebook.com/%D9%81%D9%89-%D8%A7%D9%84%D8%AE%D8%AF%D9%85%D8%A9-110125627413811/?modal=admin_todo_tour" /></i>
            <i class="fab fa-twitter-square"
               data-aos="fade-right"
               data-aos-offset="200"
               data-aos-delay="200"
               data-aos-duration="1200"><a href="https://twitter.com/Felkhedma1" /></i>
            <i class="fab fa-youtube-square" data-aos="fade-right"
               data-aos-offset="200"
               data-aos-delay="300"
               data-aos-duration="1200"><a href="http://www.Youtupe.com" /></i>

            <i class="fab fa-instagram" data-aos="fade-right"
               data-aos-offset="200"
               data-aos-delay="400"
               data-aos-duration="1200"><a href="https://www.instagram.com/fkhedma/" /> </i>

            @*لينكاتنا*@

            @*<li style="display:inline-block; padding:15px;"><a href="https://www.facebook.com/%D9%81%D9%89-%D8%A7%D9%84%D8%AE%D8%AF%D9%85%D8%A9-110125627413811/?modal=admin_todo_tour"> <img src="~/images/f.jpeg" style="width:82px; height:80px; border-radius:50%" /></a></li>
                 <li style="display:inline-block; padding:15px;"><a href="https://twitter.com/Felkhedma1"> <img src="~/images/t.jpeg" style="width:82px; height:80px; border-radius:50%" /> </a></li>
                <li style="display:inline-block; padding:15px;"><a href="https://www.instagram.com/fkhedma/"> <img src="~/images/in.jpeg" style="width:80px; border-radius:50%; margin-right:-5px" /></a></li>
                <li style="display:inline-block; padding:15px;"><a href="http://www.Youtupe.com"> <img src="~/images/y.jpeg" style="width:81px; height:80px; height:80px;  border-radius:50%; margin-right:-5px" /></a></li>*@


        </div>
        <div class="cr">
            <p>
                COPYRIGHT &copy;2020. ALL RIGHTS RESERVED <span data-aos="zoom-out-left"
                                                                data-aos-offset="100"
                                                                data-aos-delay="500"
                                                                data-aos-duration="2000" style="display: inline-block;"> FEELKHDMA</span>
            </p>
        </div>
    </footer>

    <!-- end footer -->
    @section Scripts{
        <script src="~/Content/content3/js/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <a href="#" class="arrow"><i class="fas fa-arrow-circle-up"></i></a>
    }

